.balanceDisplayBg,
.balanceDisplayBg1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.balanceDisplayBg1 {
  height: 100%;
  bottom: 0;
  background-color: #4c4aa1;
}
.balanceDisplayBg {
  height: 41.33%;
  bottom: 58.67%;
}
.homeRuleC {
  position: absolute;
  top: 32.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.outlineButton,
.primaryButton {
  position: absolute;
  top: 34rem;
  left: 2rem;
}
.primaryButton {
  left: 12.25rem;
}
.tabSelectIndicator {
  position: absolute;
  top: 15.44rem;
  left: 6.44rem;
  border-top: 2px solid #ff7575;
  box-sizing: border-box;
  width: 2.94rem;
  height: 0.13rem;
}
.assets,
.history {
  top: 13.69rem;
  line-height: 1.25rem;
  font-weight: 600;
  height: 1rem;
}
.assets {
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 3.5rem;
  opacity: 0.7;
}
.history {
  left: 6.5rem;
  width: 5rem;
}
.dailyDriver,
.div,
.history,
.vet,
.x3cdbf32x {
  position: absolute;
  display: flex;
  align-items: center;
}
.div {
  top: 7.19rem;
  left: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  width: 13rem;
  height: 2rem;
}
.dailyDriver,
.vet,
.x3cdbf32x {
  height: 1rem;
}
.vet {
  top: 10rem;
  left: 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  width: 5rem;
  opacity: 0.8;
}
.dailyDriver,
.x3cdbf32x {
  left: 0;
}
.dailyDriver {
  top: 0;
  width: 8rem;
}
.x3cdbf32x {
  top: 1.13rem;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "SF UI Text";
  width: 7.5rem;
  opacity: 0.8;
}
.accountNameBalance {
  position: absolute;
  top: 1.5rem;
  left: 5rem;
  width: 8rem;
  height: 2.13rem;
  font-size: 1rem;
  font-family: "SF UI Display";
}
.accountConnectedIcon,
.hamburgerIcon {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  width: 2.06rem;
  height: 2.13rem;
}
.hamburgerIcon {
  left: 20rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.networkSelectWhite {
  position: absolute;
  height: 5.33%;
  width: 8.53%;
  top: 4%;
  right: 16.8%;
  bottom: 90.67%;
  left: 74.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.emptyState1 {
  position: absolute;
  top: 0;
  left: 4.56rem;
  width: 7.5rem;
  height: 3.88rem;
  object-fit: cover;
}
.noTransactionsYet {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.5rem;
  height: 1rem;
}
.onceYouveMade {
  margin: 0;
}
.onceYouveMadeContainer1 {
  line-break: anywhere;
  width: 100%;
}
.onceYouveMadeContainer {
  position: absolute;
  top: 1.31rem;
  left: 1.44rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #4c4aa1;
  display: flex;
  align-items: center;
  width: 13.69rem;
  height: 3.5rem;
  opacity: 0.7;
}
.emptyStateText {
  position: absolute;
  top: 5.63rem;
  left: 0;
  width: 16.5rem;
  height: 4.81rem;
}
.emptyStateWarning {
  position: absolute;
  top: 19.63rem;
  left: 3rem;
  width: 16.5rem;
  height: 10.44rem;
  text-align: center;
  color: #373583;
}
.noHistoryN {
  position: relative;
  background-color: #f8f8f8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 37.5rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.88rem;
  color: #fff;
  font-family: Inter;
}