.balanceDisplayBg2 {
    background-color: #4c4aa1;
  }
  .balanceDisplayBg1,
  .balanceDisplayBg2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .balanceDisplayBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 23.44rem;
    height: 15.5rem;
  }
  .homeOpenEsConActiveChild,
  .homeOpenEsConActiveInner,
  .homeOpenEsConActiveItem {
    position: absolute;
    top: 20.5rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .homeOpenEsConActiveInner,
  .homeOpenEsConActiveItem {
    top: 25.5rem;
  }
  .homeOpenEsConActiveInner {
    top: 15.47rem;
    left: 1.94rem;
    border-top: 2px solid #ff7575;
    width: 2.94rem;
    height: 0.13rem;
  }
  .assets,
  .history {
    position: absolute;
    top: 13.69rem;
    left: 2rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 1rem;
  }
  .history {
    left: 6.5rem;
    width: 5rem;
    opacity: 0.3;
  }
  .erc20Stuff,
  .xCloseGrey {
    position: absolute;
    top: 1.5rem;
    left: 20rem;
    width: 2rem;
    height: 2rem;
  }
  .erc20Stuff {
    top: 1.44rem;
    left: 5rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: Inter;
    width: 8.5rem;
    height: 1rem;
  }
  .erc20Stuff,
  .usd,
  .x7gba0bxd {
    display: flex;
    align-items: center;
  }
  .x7gba0bxd {
    position: absolute;
    top: 2.63rem;
    left: 5rem;
    font-size: 0.75rem;
    font-family: Inter;
    width: 7.5rem;
    height: 1rem;
    opacity: 0.8;
  }
  .usd {
    top: 8rem;
    left: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    font-family: "SF UI Display";
    width: 13.5rem;
    height: 2rem;
  }
  .eth,
  .lineDiv,
  .usd {
    position: absolute;
  }
  .eth {
    top: 10rem;
    left: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 6.94rem;
    height: 1rem;
    opacity: 0.8;
  }
  .lineDiv {
    top: 32.97rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .transferButtonChild {
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #3b38d0;
  }
  .transfer,
  .transferButton,
  .transferButtonChild {
    position: absolute;
    width: 9.25rem;
    height: 2.5rem;
  }
  .transfer {
    top: 0;
    left: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .transferButton {
    top: 34rem;
    left: 12.25rem;
    text-align: center;
  }
  .depositButtonChild {
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #4c4aa1;
    box-sizing: border-box;
  }
  .deposit,
  .depositButton,
  .depositButtonChild {
    position: absolute;
    width: 9.31rem;
    height: 2.5rem;
  }
  .deposit {
    top: 0;
    left: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .depositButton {
    top: 34rem;
    left: 2rem;
    text-align: center;
    color: #4c4aa1;
  }
  .brevetHoverChild {
    position: absolute;
    top: -0.42rem;
    left: -0.48rem;
    border-radius: 4px;
    background-color: #414093;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }
  .pathIcon {
    position: absolute;
    height: 70.71%;
    width: 70.71%;
    top: 0;
    right: -20.71%;
    bottom: 29.29%;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .brevetHover {
    position: absolute;
    top: 8.42rem;
    left: 14.49rem;
    width: 0.53rem;
    height: 0.53rem;
    display: none;
  }
  .connectAccountHotspot,
  .signTransactionHotspot {
    position: absolute;
    top: 27.5rem;
    left: 2rem;
    width: 8.75rem;
    height: 3.13rem;
  }
  .signTransactionHotspot {
    left: 12.5rem;
    width: 8.5rem;
    height: 3.44rem;
  }
  .tokenPageHoverHotspot {
    position: absolute;
    top: 20.5rem;
    left: 13rem;
    width: 10.44rem;
    height: 5rem;
  }
  .accountNotConnected,
  .importAccount {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: 2.06rem;
    height: 2.13rem;
  }
  .importAccount {
    top: 22rem;
    left: 5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 14.81rem;
    height: 5rem;
  }
  .accountsPanelChild {
    position: absolute;
    top: 23.5rem;
    left: 2.19rem;
    width: 2rem;
    height: 2rem;
  }
  .rule1,
  .rule2,
  .rule3,
  .rule4,
  .rule5 {
    position: absolute;
    top: 31.97rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .rule1,
  .rule2,
  .rule3,
  .rule4 {
    top: 26.97rem;
  }
  .rule1,
  .rule2,
  .rule3 {
    top: 21.97rem;
  }
  .rule1,
  .rule2 {
    top: 16.97rem;
  }
  .rule1 {
    top: 11.97rem;
  }
  .selectedTickIcon {
    position: absolute;
    top: 13.5rem;
    left: 20rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
  }
  .accountsPanelItem {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 23.44rem;
    height: 7rem;
  }
  .accountsPanelInner,
  .rule0 {
    position: absolute;
    top: 6.97rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .accountsPanelInner {
    top: 6.94rem;
    left: 2.31rem;
    border-top: 2px solid #ff7575;
    width: 2.94rem;
    height: 0.13rem;
  }
  .accounts {
    top: 5.19rem;
    left: 2rem;
    line-height: 1.25rem;
    font-weight: 600;
    width: 4.5rem;
  }
  .accounts,
  .canViewAddresses,
  .connections,
  .streamrnetwork {
    position: absolute;
    display: flex;
    align-items: center;
    height: 1rem;
  }
  .connections {
    top: 5.19rem;
    left: 7.5rem;
    line-height: 1.25rem;
    width: 5.5rem;
    opacity: 0.7;
  }
  .canViewAddresses,
  .streamrnetwork {
    left: 5rem;
  }
  .streamrnetwork {
    top: 1.5rem;
    line-height: 1rem;
    font-weight: 600;
    width: 7.5rem;
  }
  .canViewAddresses {
    top: 2.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #807dc0;
    width: 15.5rem;
  }
  .dataIcon,
  .ellipseIcon {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .dataIcon {
    overflow: hidden;
  }
  .importAccountIcon {
    position: absolute;
    top: 24.02rem;
    left: 2.77rem;
    width: 0.8rem;
    height: 1.05rem;
  }
  .counterChild {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .counter,
  .counterChild,
  .div {
    position: absolute;
  }
  .div {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .counter {
    height: 2.86%;
    width: 4.27%;
    top: 15%;
    right: 38.13%;
    bottom: 82.14%;
    left: 57.6%;
    opacity: 0.5;
    text-align: center;
    font-size: 0.63rem;
    color: #fff;
    font-family: "SF UI Text";
  }
  .accountConnectedIcon,
  .groupIcon {
    position: absolute;
    top: 13.56rem;
    left: 2rem;
    width: 2.06rem;
    height: 2.13rem;
  }
  .groupIcon {
    top: 8.44rem;
  }
  .accountsPanel {
    position: absolute;
    top: 5rem;
    left: 0;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    width: 23.44rem;
    height: 35rem;
    overflow: hidden;
    color: #373583;
    font-family: Inter;
  }
  .networkSelectWhite {
    position: absolute;
    height: 5.33%;
    width: 8.53%;
    top: 4%;
    right: 16.8%;
    bottom: 90.67%;
    left: 74.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.3;
  }
  .newAccount {
    position: absolute;
    top: 8.16rem;
    left: -6.66rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 14.81rem;
    height: 5rem;
  }
  .accountDetailsV3Child {
    position: absolute;
    top: 9.66rem;
    left: -9.66rem;
    width: 2rem;
    height: 2rem;
  }
  .xCloseIcon {
    position: absolute;
    height: 6.49%;
    width: 6.49%;
    top: 67.53%;
    right: 154.14%;
    bottom: 25.99%;
    left: -60.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .accountDetailsV3 {
    position: absolute;
    top: 13.84rem;
    left: 11.66rem;
    width: 15.07rem;
    height: 15.07rem;
    transform: rotate(45deg);
    transform-origin: 0 0;
    color: #373583;
    font-family: Inter;
  }
  .homeOpenEsConActive {
    position: relative;
    background-color: #f8f8f8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 37.5rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.88rem;
    color: #fff;
    font-family: "SF UI Text";
  }