.balanceDisplayBg,
.balanceDisplayBg1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.balanceDisplayBg1 {
  height: 100%;
  bottom: 0;
  background-color: #4c4aa1;
}
.balanceDisplayBg {
  height: 41.33%;
  bottom: 58.67%;
}
.transferButtonChild {
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #3b38d0;
}
.transfer,
.transferButton,
.transferButtonChild {
  position: absolute;
  width: 9.25rem;
  height: 2.5rem;
}
.transfer {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transferButton {
  top: 34rem;
  left: 12.25rem;
  text-align: center;
}
.depositButton {
  position: absolute;
  top: 34rem;
  left: 2rem;
}
.homeRuleA,
.homeRuleB,
.homeRuleC,
.tabSelectIndicator {
  position: absolute;
  top: 32.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.homeRuleA,
.homeRuleB,
.tabSelectIndicator {
  top: 25.5rem;
}
.homeRuleA,
.tabSelectIndicator {
  top: 20.5rem;
}
.tabSelectIndicator {
  top: 15.47rem;
  left: 1.94rem;
  border-top: 2px solid #ff7575;
  width: 2.94rem;
  height: 0.13rem;
}
.assets,
.history {
  top: 13.69rem;
  line-height: 1.25rem;
  font-weight: 500;
  height: 1rem;
}
.assets {
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 3.5rem;
}
.history {
  left: 6.5rem;
  width: 5rem;
  opacity: 0.3;
}
.dailyDriver,
.div,
.eth,
.history,
.x3cdbf32x {
  position: absolute;
  display: flex;
  align-items: center;
}
.div {
  top: 8rem;
  left: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "SF UI Display";
  width: 13rem;
  height: 2rem;
}
.dailyDriver,
.eth,
.x3cdbf32x {
  height: 1rem;
}
.eth {
  top: 10rem;
  left: 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  width: 5rem;
  opacity: 0.8;
}
.dailyDriver,
.x3cdbf32x {
  left: 5rem;
  font-family: Inter;
}
.dailyDriver {
  top: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
}
.x3cdbf32x {
  top: 2.63rem;
  font-size: 0.75rem;
  width: 7.5rem;
  opacity: 0.8;
}
.accountConnectedIcon {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  width: 2.06rem;
  height: 2.13rem;
}
.networkSelectWhite,
.xCloseGrey {
  position: absolute;
  overflow: hidden;
}
.xCloseGrey {
  top: 1.5rem;
  left: 20rem;
  width: 2rem;
  height: 2rem;
}
.networkSelectWhite {
  height: 5.33%;
  width: 8.53%;
  top: 4%;
  right: 16.8%;
  bottom: 90.67%;
  left: 74.67%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.3;
}
.depositSheetChild,
.depositSheetInner,
.depositSheetItem,
.lineDiv {
  position: absolute;
  top: 6.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.depositSheetInner,
.depositSheetItem,
.lineDiv {
  top: 19.97rem;
}
.depositSheetInner,
.lineDiv {
  top: 30.97rem;
}
.lineDiv {
  top: 42.47rem;
}
.depositVechain {
  margin: 0;
  font-size: 0.88rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #373583;
}
.toUseDecentralised {
  margin: 0;
  line-height: 1rem;
}
.depositVechainToContainer1 {
  line-break: anywhere;
  width: 100%;
}
.depositVechainToContainer {
  position: absolute;
  top: 0.69rem;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 19.5rem;
  height: 5rem;
}
.directDeposit {
  margin: 0;
  font-size: 0.88rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #373583;
}
.directDepositIfContainer {
  position: absolute;
  top: 7.94rem;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 19.5rem;
  height: 3.63rem;
}
.buyVechainWithContainer {
  top: 20.81rem;
  left: 2rem;
  width: 19.5rem;
  height: 4rem;
}
.buyEthOnContainer,
.buyVechainWithContainer,
.dailyDriver1,
.x3cdbf32x1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.buyEthOnContainer {
  top: 32.13rem;
  left: 2rem;
  width: 19.5rem;
  height: 5rem;
  font-family: "SF UI Text";
}
.dailyDriver1,
.x3cdbf32x1 {
  left: 0;
  height: 1rem;
}
.dailyDriver1 {
  top: 0;
  font-weight: 600;
  width: 6.13rem;
}
.x3cdbf32x1 {
  top: 1.13rem;
  font-size: 0.75rem;
  color: #807dc0;
  width: 7.5rem;
}
.accountNameBalance {
  position: absolute;
  top: 0;
  left: 3rem;
  width: 7.5rem;
  height: 2.13rem;
}
.idntcn1Icon {
  position: absolute;
  top: 0.45rem;
  left: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  object-fit: cover;
  mix-blend-mode: normal;
}
.accountIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
}
.accountNameBalanceParent {
  position: absolute;
  top: 12.5rem;
  left: 10rem;
  width: 10.5rem;
  height: 2.13rem;
  font-size: 1rem;
  color: #373583;
}
.copyAddress,
.rectangleDiv {
  position: absolute;
  top: 16rem;
  left: 10rem;
  width: 9rem;
  height: 2.5rem;
}
.rectangleDiv {
  border-radius: 4px;
  background-color: #fff;
}
.copyAddress {
  font-size: 0.88rem;
  color: #373583;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mmQr1Icon {
  position: absolute;
  top: 12rem;
  left: 1.5rem;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
}
.groupChild,
.groupIcon {
  position: absolute;
  width: 7.5rem;
  height: 2.5rem;
}
.groupIcon {
  top: 26.5rem;
  left: 2rem;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #eee;
}
.coinswitchIcon {
  position: absolute;
  top: 0.94rem;
  left: 0.94rem;
  width: 5.63rem;
  height: 0.63rem;
}
.rectangleParent,
.visitCoinswitch,
.visitWyre {
  position: absolute;
  top: 38rem;
  left: 2rem;
  width: 7.5rem;
  height: 2.5rem;
}
.visitCoinswitch,
.visitWyre {
  top: 26.5rem;
  left: 10.5rem;
  font-size: 0.88rem;
  line-height: 1.25rem;
  font-family: "SF UI Text";
  color: #3b38d0;
  display: flex;
  align-items: center;
  width: 6.38rem;
}
.visitCoinswitch {
  top: 38rem;
  width: 9.5rem;
}
.deposit,
.depositSheet {
  background-color: #f8f8f8;
  width: 100%;
}
.depositSheet {
  position: absolute;
  height: 86.67%;
  top: 25.83%;
  right: 3.47%;
  bottom: -12.5%;
  left: -3.47%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
  font-size: 0.75rem;
  color: #807dc0;
  font-family: Inter;
}
.deposit {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 37.5rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.88rem;
  color: #fff;
  font-family: "SF UI Text";
}