.balanceDisplayBg,
.balanceDisplayBg1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.balanceDisplayBg1 {
  height: 100%;
  bottom: 0;
  background-color: #4c4aa1;
}
.balanceDisplayBg {
  height: 41.33%;
  bottom: 58.67%;
}
.depositButton,
.transferButton {
  position: absolute;
  top: 34rem;
  left: 12.25rem;
}
.depositButton {
  left: 2rem;
}
.homeRuleA,
.homeRuleB,
.homeRuleC,
.tabSelectIndicator {
  position: absolute;
  top: 32.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.homeRuleA,
.homeRuleB,
.tabSelectIndicator {
  top: 25.5rem;
}
.homeRuleA,
.tabSelectIndicator {
  top: 20.5rem;
}
.tabSelectIndicator {
  top: 15.47rem;
  left: 1.94rem;
  border-top: 2px solid #ff7575;
  width: 2.94rem;
  height: 0.13rem;
}
.assets,
.history {
  top: 13.69rem;
  line-height: 1.25rem;
  font-weight: 500;
  height: 1rem;
}
.assets {
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 3.5rem;
}
.history {
  left: 6.5rem;
  width: 5rem;
  opacity: 0.3;
}
.dailyDriver,
.eth,
.history,
.usd,
.x3cdbf32x {
  position: absolute;
  display: flex;
  align-items: center;
}
.usd {
  top: 8rem;
  left: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "SF UI Display";
  width: 13rem;
  height: 2rem;
}
.dailyDriver,
.eth,
.x3cdbf32x {
  height: 1rem;
}
.eth {
  top: 10rem;
  left: 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  width: 5rem;
  opacity: 0.8;
}
.dailyDriver,
.x3cdbf32x {
  left: 5rem;
  font-family: Inter;
}
.dailyDriver {
  top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  width: 8rem;
}
.x3cdbf32x {
  top: 2.63rem;
  font-size: 0.75rem;
  width: 7.5rem;
  opacity: 0.8;
}
.accountConnectedIcon {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  width: 2.06rem;
  height: 2.13rem;
}
.hamburgerIcon,
.networkSelectWhite {
  position: absolute;
  overflow: hidden;
  opacity: 0.3;
}
.hamburgerIcon {
  top: 1.5rem;
  left: 20rem;
  width: 2rem;
  height: 2rem;
}
.networkSelectWhite {
  height: 5.33%;
  width: 8.53%;
  top: 4%;
  right: 16.8%;
  bottom: 90.67%;
  left: 74.67%;
  max-width: 100%;
  max-height: 100%;
}
.depositSheetChild,
.depositSheetInner,
.depositSheetItem,
.lineDiv {
  position: absolute;
  top: 6.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.depositSheetInner,
.depositSheetItem,
.lineDiv {
  top: 19.97rem;
}
.depositSheetInner,
.lineDiv {
  top: 30.97rem;
}
.lineDiv {
  top: 42.47rem;
}
.depositEth {
  margin: 0;
  font-size: 0.88rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #373583;
}
.toUseDecentralized {
  margin: 0;
  line-height: 1rem;
}
.depositEthToContainer1 {
  line-break: anywhere;
  width: 100%;
}
.depositEthToContainer,
.directDepositIfContainer {
  position: absolute;
  top: 0.69rem;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 19.5rem;
  height: 5rem;
}
.directDepositIfContainer {
  top: 7rem;
}
.buyEthWithContainer {
  top: 20.69rem;
  left: 2rem;
  width: 19.5rem;
  height: 5rem;
}
.buyEthOnContainer,
.buyEthWithContainer,
.dailyDriver1,
.x3cdbf32x1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.buyEthOnContainer {
  top: 32.13rem;
  left: 2rem;
  width: 19.5rem;
  height: 5rem;
}
.dailyDriver1,
.x3cdbf32x1 {
  left: 0;
  height: 1rem;
}
.dailyDriver1 {
  top: 0;
  width: 5rem;
}
.x3cdbf32x1 {
  top: 1.13rem;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "SF UI Text";
  color: #807dc0;
  width: 7.5rem;
}
.accountNameBalance {
  position: absolute;
  top: 0;
  left: 3rem;
  width: 7.5rem;
  height: 2.13rem;
}
.idntcn1Icon {
  position: absolute;
  top: 0.45rem;
  left: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  object-fit: cover;
  mix-blend-mode: normal;
}
.accountIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
}
.accountNameBalanceParent {
  position: absolute;
  top: 12.5rem;
  left: 10rem;
  width: 10.5rem;
  height: 2.13rem;
  font-size: 1rem;
  color: #373583;
  font-family: "SF UI Display";
}
.copyAddress,
.exportKeyButton {
  position: absolute;
  width: 9rem;
  height: 2.5rem;
}
.copyAddress {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exportKeyButton {
  top: 16rem;
  left: 10rem;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-size: 0.88rem;
  color: #373583;
}
.mmQr1Icon {
  position: absolute;
  top: 12rem;
  left: 1.5rem;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
}
.frameIcon,
.groupIcon {
  position: absolute;
  top: 26.5rem;
  left: 2rem;
  width: 7.5rem;
  height: 2.5rem;
}
.frameIcon {
  top: 38rem;
  border-radius: 4px;
}
.visitCoinswitch,
.visitWyre {
  position: absolute;
  top: 26.5rem;
  left: 10.5rem;
  font-size: 0.88rem;
  line-height: 1.25rem;
  color: #3b38d0;
  display: flex;
  align-items: center;
  width: 6.38rem;
  height: 2.5rem;
}
.visitCoinswitch {
  top: 38rem;
  width: 9.5rem;
}
.depositSheet {
  position: absolute;
  height: 117.5%;
  width: 100%;
  top: 41.33%;
  right: 0;
  bottom: -58.83%;
  left: 0;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  opacity: 0;
  font-size: 0.75rem;
  color: #807dc0;
}
.sendFlow3Child {
  position: absolute;
  top: 27.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.div,
.mainVeechainNetwork,
.vet,
.x84bccb49 {
  position: absolute;
  display: flex;
  align-items: center;
}
.x84bccb49 {
  top: 3.5rem;
  left: 5.03rem;
  font-size: 1rem;
  width: 13.44rem;
  height: 2rem;
}
.div,
.mainVeechainNetwork,
.vet {
  top: 14.5rem;
  left: 15.94rem;
  font-weight: 500;
  text-align: right;
  width: 5.56rem;
  height: 1rem;
}
.mainVeechainNetwork,
.vet {
  top: 10rem;
  left: 11rem;
  width: 10.5rem;
}
.vet {
  top: 15.63rem;
  left: 15.94rem;
  font-size: 0.75rem;
  color: #9794d8;
  width: 5.56rem;
}
.div1 {
  top: 19.5rem;
  left: 16.75rem;
  width: 4.69rem;
}
.div1,
.div2,
.vet1,
.vet2 {
  position: absolute;
  text-align: right;
  display: flex;
  align-items: center;
  height: 1rem;
}
.vet1 {
  top: 20.63rem;
  left: 15.94rem;
  font-size: 0.75rem;
  color: #9794d8;
  width: 5.56rem;
}
.div2,
.vet2 {
  top: 24.5rem;
  left: 16.81rem;
  width: 4.69rem;
}
.vet2 {
  top: 25.63rem;
  left: 15.94rem;
  font-size: 0.75rem;
  color: #9794d8;
  width: 5.56rem;
}
.gasFee {
  top: 19.5rem;
  font-weight: 500;
  width: 8.5rem;
  height: 1rem;
}
.amount,
.edit,
.gasFee,
.network,
.total {
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
}
.edit {
  top: 21.06rem;
  font-size: 0.75rem;
  color: #6f6bbf;
  width: 3.25rem;
  height: 1rem;
  opacity: 0.7;
}
.amount,
.network,
.total {
  top: 24.5rem;
  width: 8.5rem;
  height: 2rem;
}
.amount,
.network {
  top: 14.5rem;
  font-weight: 500;
}
.network {
  top: 9.5rem;
  width: 5rem;
}
.identicon2,
.ovalIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.identicon2 {
  height: 62.5%;
  width: 62.5%;
  top: 21.88%;
  right: 18.75%;
  bottom: 15.63%;
  left: 18.75%;
  object-fit: cover;
  mix-blend-mode: darken;
}
.eth1 {
  position: absolute;
  top: 3.5rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
}
.sendFlow3Child1,
.sendFlow3Child2,
.sendFlow3Inner,
.sendFlow3Item {
  position: absolute;
  top: 7.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.sendFlow3Child1,
.sendFlow3Child2,
.sendFlow3Inner {
  top: 12.97rem;
}
.sendFlow3Child1,
.sendFlow3Child2 {
  top: 17.97rem;
}
.sendFlow3Child2 {
  top: 22.97rem;
}
.confirmSendTo {
  position: absolute;
  top: 1.69rem;
  left: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 8.31rem;
}
.outlineButton,
.primaryButton {
  position: absolute;
  top: 29rem;
  left: 2rem;
}
.primaryButton {
  left: 12.25rem;
}
.send3,
.sendFlow3 {
  background-color: #f8f8f8;
}
.sendFlow3 {
  position: absolute;
  top: 5rem;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 23.44rem;
  height: 32.5rem;
  color: #373583;
  font-family: Inter;
}
.send3 {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 37.5rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.88rem;
  color: #fff;
  font-family: "SF UI Text";
}