.balanceDisplayBg2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4c4aa1;
  }
  .balanceDisplayBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 23.44rem;
    height: 15.5rem;
  }
  .homeSwitchToEsChild,
  .homeSwitchToEsInner,
  .homeSwitchToEsItem {
    position: absolute;
    top: 20.5rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .homeSwitchToEsInner,
  .homeSwitchToEsItem {
    top: 25.5rem;
  }
  .homeSwitchToEsInner {
    top: 15.47rem;
    left: 1.94rem;
    border-top: 2px solid #ff7575;
    width: 2.94rem;
    height: 0.13rem;
  }
  .assets,
  .history {
    position: absolute;
    top: 13.69rem;
    left: 2rem;
    line-height: 1.25rem;
    font-weight: 500;
    font-family: "SF UI Text";
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 1rem;
  }
  .history {
    left: 6.5rem;
    width: 5rem;
    opacity: 0.3;
  }
  .amisiKevin,
  .xCloseGrey {
    position: absolute;
    top: 1.5rem;
    left: 20rem;
    width: 2rem;
    height: 2rem;
  }
  .amisiKevin {
    left: 5rem;
    font-size: 1rem;
    font-weight: 600;
    width: 8rem;
    height: 1rem;
  }
  .amisiKevin,
  .usd,
  .x7gba0bxd {
    display: flex;
    align-items: center;
  }
  .x7gba0bxd {
    position: absolute;
    top: 2.63rem;
    left: 5rem;
    font-size: 0.75rem;
    width: 7.5rem;
    height: 1rem;
    opacity: 0.8;
  }
  .usd {
    top: 8rem;
    left: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    font-family: "SF UI Display";
    width: 15rem;
    height: 2rem;
  }
  .eth,
  .lineDiv,
  .usd {
    position: absolute;
  }
  .eth {
    top: 10rem;
    left: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    font-family: "SF UI Text";
    display: flex;
    align-items: center;
    width: 6.31rem;
    height: 1rem;
    opacity: 0.8;
  }
  .lineDiv {
    top: 32.97rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .transferButtonChild {
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #3b38d0;
  }
  .transfer,
  .transferButton,
  .transferButtonChild {
    position: absolute;
    width: 9.25rem;
    height: 2.5rem;
  }
  .transfer {
    top: 0;
    left: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .transferButton {
    top: 34rem;
    left: 12.25rem;
    text-align: center;
    font-family: "SF UI Text";
  }
  .depositButtonChild {
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #4c4aa1;
    box-sizing: border-box;
  }
  .deposit,
  .depositButton,
  .depositButtonChild {
    position: absolute;
    width: 9.31rem;
    height: 2.5rem;
  }
  .deposit {
    top: 0;
    left: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .depositButton {
    top: 34rem;
    left: 2rem;
    text-align: center;
    color: #4c4aa1;
    font-family: "SF UI Text";
  }
  .brevetHoverChild {
    position: absolute;
    top: -0.42rem;
    left: -0.48rem;
    border-radius: 4px;
    background-color: #414093;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }
  .pathIcon {
    position: absolute;
    height: 70.71%;
    width: 70.71%;
    top: 0;
    right: -20.71%;
    bottom: 29.29%;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .brevetHover {
    position: absolute;
    top: 8.42rem;
    left: 13.99rem;
    width: 0.53rem;
    height: 0.53rem;
    display: none;
  }
  .connectAccountHotspot,
  .signTransactionHotspot {
    position: absolute;
    top: 27.5rem;
    left: 2rem;
    width: 8.75rem;
    height: 3.13rem;
  }
  .signTransactionHotspot {
    left: 12.5rem;
    width: 8.5rem;
    height: 3.44rem;
  }
  .tokenPageHoverHotspot {
    position: absolute;
    top: 20.5rem;
    left: 13rem;
    width: 10.44rem;
    height: 5rem;
  }
  .accountConnectedIcon {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: 2.06rem;
    height: 2.13rem;
  }
  .rule1,
  .rule2,
  .rule3,
  .rule4,
  .rule5 {
    position: absolute;
    top: 31.97rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .rule1,
  .rule2,
  .rule3,
  .rule4 {
    top: 26.97rem;
  }
  .rule1,
  .rule2,
  .rule3 {
    top: 21.97rem;
  }
  .rule1,
  .rule2 {
    top: 16.97rem;
  }
  .rule1 {
    top: 11.97rem;
  }
  .selectedTickIcon {
    position: absolute;
    top: 13.5rem;
    left: 20rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
  }
  .accountsPanelChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 23.44rem;
    height: 7rem;
  }
  .accountsPanelItem,
  .rule0 {
    position: absolute;
    top: 6.97rem;
    left: -0.03rem;
    border-top: 1px solid #e4e3ff;
    box-sizing: border-box;
    width: 23.5rem;
    height: 0.06rem;
  }
  .accountsPanelItem {
    top: 6.94rem;
    left: 2.31rem;
    border-top: 2px solid #ff7575;
    width: 2.94rem;
    height: 0.13rem;
  }
  .accounts {
    top: 5.19rem;
    left: 2rem;
    line-height: 1.25rem;
    font-weight: 600;
    width: 4.5rem;
  }
  .accounts,
  .canViewAddresses,
  .connections,
  .streamrnetwork {
    position: absolute;
    display: flex;
    align-items: center;
    height: 1rem;
  }
  .connections {
    top: 5.19rem;
    left: 7.5rem;
    line-height: 1.25rem;
    width: 5.5rem;
    opacity: 0.7;
  }
  .canViewAddresses,
  .streamrnetwork {
    left: 5rem;
  }
  .streamrnetwork {
    top: 1.5rem;
    line-height: 1rem;
    font-weight: 600;
    width: 21.44rem;
  }
  .canViewAddresses {
    top: 2.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #807dc0;
    width: 15.5rem;
  }
  .accountsPanelInner,
  .dataIcon {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .dataIcon {
    overflow: hidden;
  }
  .counterChild {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .counter,
  .counterChild,
  .div {
    position: absolute;
  }
  .div {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .counter {
    height: 2.86%;
    width: 4.27%;
    top: 15%;
    right: 38.13%;
    bottom: 82.14%;
    left: 57.6%;
    opacity: 0.5;
    text-align: center;
    font-size: 0.63rem;
    color: #fff;
    font-family: "SF UI Text";
  }
  .accountConnectedIcon1 {
    position: absolute;
    top: 13rem;
    left: 2.25rem;
    width: 2.06rem;
    height: 2.13rem;
  }
  .accountsPanel {
    position: absolute;
    top: 5rem;
    left: 0;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    width: 23.44rem;
    height: 35rem;
    overflow: hidden;
    color: #373583;
  }
  .networkSelectWhite {
    position: absolute;
    height: 5.33%;
    width: 8.53%;
    top: 4%;
    right: 16.8%;
    bottom: 90.67%;
    left: 74.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.3;
  }
  .hotspotClose {
    position: absolute;
    top: 1.25rem;
    left: 12rem;
    width: 5.5rem;
    height: 3rem;
    cursor: pointer;
  }
  .dailyDriver,
  .div1 {
    position: absolute;
    left: 5rem;
    display: flex;
    align-items: center;
    height: 1rem;
  }
  .dailyDriver {
    top: 13.38rem;
    line-height: 1rem;
    font-weight: 600;
    color: #373583;
    width: 14.22rem;
  }
  .div1 {
    top: 14.5rem;
    font-size: 0.75rem;
    color: #807dc0;
    width: 6.06rem;
  }
  .idntcn1Icon {
    position: absolute;
    top: 0.45rem;
    left: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;
    object-fit: cover;
    mix-blend-mode: normal;
  }
  .accountIconWrapper,
  .accountMenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .accountMenu {
    height: 5.33%;
    width: 8.53%;
    top: 36%;
    right: 82.93%;
    bottom: 58.67%;
    left: 8.53%;
  }
  .accConnectedIcon {
    position: absolute;
    top: 13.5rem;
    left: 2rem;
    width: 2.06rem;
    height: 2.13rem;
  }
  .amisiKevin1 {
    top: 18.38rem;
    line-height: 1rem;
    font-weight: 600;
    color: #373583;
    width: 14.22rem;
    height: 1rem;
  }
  .amisiKevin1,
  .div2,
  .newAccount {
    position: absolute;
    left: 5rem;
    display: flex;
    align-items: center;
  }
  .div2 {
    top: 19.5rem;
    font-size: 0.75rem;
    color: #807dc0;
    width: 6.06rem;
    height: 1rem;
  }
  .newAccount {
    top: 22rem;
    font-weight: 500;
    color: #373583;
    width: 14.81rem;
    height: 5rem;
  }
  .groupIcon {
    position: absolute;
    top: 23.5rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .accountDetailsV3 {
    position: absolute;
    height: 4.71%;
    width: 7.54%;
    top: 63%;
    right: 83.39%;
    bottom: 32.29%;
    left: 9.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .importAccount {
    position: absolute;
    top: 27rem;
    left: 5rem;
    font-weight: 500;
    color: #373583;
    display: flex;
    align-items: center;
    width: 14.81rem;
    height: 5rem;
  }
  .homeSwitchToEsChild1 {
    position: absolute;
    top: 28.5rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .homeSwitchToEsChild2 {
    position: absolute;
    top: 29.02rem;
    left: 2.58rem;
    width: 0.8rem;
    height: 1.05rem;
  }
  .connectHardwareWallet {
    position: absolute;
    top: 32rem;
    left: 5rem;
    font-weight: 500;
    font-family: "SF UI Text";
    color: #373583;
    display: flex;
    align-items: center;
    width: 14.81rem;
    height: 5rem;
  }
  .homeSwitchToEsChild3 {
    position: absolute;
    top: 33.5rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .homeSwitchToEsChild4 {
    position: absolute;
    top: 34.02rem;
    left: 2.45rem;
    width: 1.09rem;
    height: 1.03rem;
  }
  .homeSwitchToEs {
    position: relative;
    background-color: #f8f8f8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 37.5rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.88rem;
    color: #fff;
    font-family: Inter;
  }