.balanceDisplayBg,
.balanceDisplayBg1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.balanceDisplayBg1 {
  height: 100%;
  bottom: 0;
  background-color: #4c4aa1;
}
.balanceDisplayBg {
  height: 41.33%;
  bottom: 58.67%;
}
.transfer {
  position: relative;
  font-weight: 500;
}
.primaryButton {
  position: absolute;
  top: 34rem;
  left: 12.25rem;
  border-radius: 4px;
  background-color: #3b38d0;
  display: flex;
  flex-direction: row;
  padding: 0.72rem 2.84rem;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.outlineButton {
  position: absolute;
  top: 34rem;
  left: 2rem;
}
.homeRuleA,
.homeRuleB,
.homeRuleC,
.tabSelectIndicator {
  position: absolute;
  top: 32.97rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.homeRuleA,
.homeRuleB,
.tabSelectIndicator {
  top: 25.5rem;
}
.homeRuleA,
.tabSelectIndicator {
  top: 20.5rem;
}
.tabSelectIndicator {
  top: 15.47rem;
  left: 1.94rem;
  border-top: 2px solid #ff7575;
  width: 2.94rem;
  height: 0.13rem;
}
.assets,
.history {
  top: 13.69rem;
  line-height: 1.25rem;
  font-weight: 500;
  height: 1rem;
}
.assets {
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 3.5rem;
}
.history {
  left: 6.5rem;
  width: 5rem;
  opacity: 0.3;
}
.dailyDriver,
.div,
.eth,
.history,
.x3cdbf32x {
  position: absolute;
  display: flex;
  align-items: center;
}
.div {
  top: 8rem;
  left: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "SF UI Display";
  width: 13rem;
  height: 2rem;
}
.dailyDriver,
.eth,
.x3cdbf32x {
  height: 1rem;
}
.eth {
  top: 10rem;
  left: 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  width: 5rem;
  opacity: 0.8;
}
.dailyDriver,
.x3cdbf32x {
  left: 0;
}
.dailyDriver {
  top: 0;
  width: 8rem;
}
.x3cdbf32x {
  top: 1.13rem;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "SF UI Text";
  width: 7.5rem;
  opacity: 0.8;
}
.accountConnectedIcon,
.accountNameBalance {
  position: absolute;
  top: 1.5rem;
  height: 2.13rem;
  opacity: 0.3;
}
.accountNameBalance {
  left: 5rem;
  width: 8rem;
  font-size: 1rem;
  font-family: "SF UI Display";
}
.accountConnectedIcon {
  left: 2rem;
  width: 2.06rem;
}
.networkSelectWhite,
.xCloseGrey {
  position: absolute;
  overflow: hidden;
}
.xCloseGrey {
  top: 1.5rem;
  left: 20rem;
  width: 2rem;
  height: 2rem;
}
.networkSelectWhite {
  height: 5.33%;
  width: 8.53%;
  top: 4%;
  right: 16.8%;
  bottom: 90.67%;
  left: 74.67%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.3;
}
.homeRuleD {
  position: absolute;
  top: 30.47rem;
  left: -0.03rem;
  border-top: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.listItemRules {
  position: absolute;
  top: -0.06rem;
  left: 0;
  width: 23.44rem;
  height: 24.13rem;
}
.groupChild {
  position: absolute;
  top: 29.47rem;
  left: -0.03rem;
  border-top: 1px solid #f8f8f8;
  box-sizing: border-box;
  width: 23.5rem;
  height: 0.06rem;
}
.connections {
  margin: 0;
  font-weight: 500;
}
.sitesAllowedTo {
  margin: 0;
  font-size: 0.75rem;
  color: #a8a8a8;
}
.connectionsSitesAllowedContainer,
.networksManageCustomContainer {
  position: absolute;
  top: 24.5rem;
  left: 2rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  width: 21.44rem;
  height: 5rem;
}
.networksManageCustomContainer {
  top: 29.5rem;
}
.listItemRulesParent {
  position: absolute;
  top: 7rem;
  left: 0;
  width: 23.44rem;
  height: 34.5rem;
  color: #4b4b4b;
  font-family: "SF UI Text";
}
.scrollBarChild {
  position: absolute;
  top: 0;
  left: 0.06rem;
  background-color: #f8f8f8;
  width: 0.88rem;
  height: 25.5rem;
}
.scrollBarItem {
  position: absolute;
  top: 0.5rem;
  left: 0.38rem;
  border-radius: 2px;
  background-color: #e3e2f0;
  width: 0.25rem;
  height: 7rem;
}
.scrollBarInner {
  position: absolute;
  top: -0.03rem;
  left: -0.03rem;
  border-right: 1px solid #e4e3ff;
  box-sizing: border-box;
  width: 0.06rem;
  height: 25.56rem;
}
.scrollBar {
  position: absolute;
  top: 7rem;
  left: 22.5rem;
  width: 0.94rem;
  height: 25.5rem;
}
.crypsenseWalletV900 {
  margin: 0;
}
.designedAndBuilt {
  margin: 0;
  font-size: 0.75rem;
  color: #807dc0;
}
.crypsenseWalletV900Container {
  position: absolute;
  top: 1rem;
  left: 5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  width: 14.5rem;
  height: 5rem;
  color: #373583;
}
.helpTxt {
  line-break: anywhere;
  width: 100%;
}
.help {
  position: absolute;
  top: 7rem;
  left: 2rem;
  line-height: 1.25rem;
  color: #373583;
  display: flex;
  align-items: center;
  width: 14.5rem;
  height: 5rem;
}
.attributions,
.emailUs,
.privacyPolicy,
.supportCenter,
.termsOfUse {
  position: absolute;
  top: 11.38rem;
  left: 2rem;
  font-size: 0.81rem;
  line-height: 1.25rem;
  display: inline-block;
  width: 6.44rem;
  height: 1.38rem;
}
.attributions,
.emailUs,
.privacyPolicy,
.termsOfUse {
  top: 13.19rem;
  width: 3.44rem;
  height: 1.31rem;
}
.attributions,
.privacyPolicy,
.termsOfUse {
  top: 14.94rem;
  width: 5.75rem;
}
.attributions,
.termsOfUse {
  top: 16.69rem;
  width: 5.5rem;
  height: 1.38rem;
}
.attributions {
  top: 18.5rem;
  width: 4.81rem;
}
.helpCloseHotspot {
  position: absolute;
  top: 8rem;
  left: 11.5rem;
  width: 10.94rem;
  height: 12.94rem;
  cursor: pointer;
}
.generalTokenDisplayContainer,
.securityPrivacyContainer {
  position: absolute;
  top: 26.06rem;
  left: 2rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  width: 21.44rem;
  height: 5rem;
  color: #373583;
}
.generalTokenDisplayContainer {
  top: 21.06rem;
}
.settingsSheetChild {
  position: absolute;
  top: 2.38rem;
  left: 1.75rem;
  width: 2.19rem;
  height: 2.19rem;
}
.settingsHelp,
.settingsSheet {
  background-color: #f8f8f8;
  overflow: hidden;
}
.settingsSheet {
  position: absolute;
  top: 5rem;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  width: 23.44rem;
  height: 32.5rem;
  color: #3b38d0;
  font-family: Inter;
}
.settingsHelp {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 37.5rem;
  text-align: left;
  font-size: 0.88rem;
  color: #fff;
  font-family: "SF UI Text";
}